.input-wrapper {
    width: 90%;
    border-radius: 10px;
}

.input-wrapper input {
    outline: none;
    border: none;
    width: 100%;
    font-size: 18px;
    padding: 1rem;
    border-radius: inherit;
    background-color: #424141;
    color: whitesmoke;
}

.input-wrapper input:focus,
.input-wrapper input:active {
    box-shadow: 0 0 8px -2px #8ee5e9;
}